[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
pillow = "*"
django-crispy-forms = "*"
whitenoise = "==5.1.0"
gunicorn = "*"
django-jazzmin = "*"

[dev-packages]

[requires]
python_version = "3.10"
