<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buyurtmani bajarish</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<div class="container align-items-center">
    
    <div class="card p-5 bg-muted">
        <div class="row">
            <div class="col-md-6 border-right">
                <h3>Buyurtmani bajarish uchun</h3>
                <div class="d-flex text-blur align-items-baseline">
                   
                    
                </div>            
                

                
                    <br><br>
                    <h1 style="display: inline;" class="m-3 text-success">СКОРА!!!</h1>
                    <img style="width: 100px; height: 150px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Analog_clock_animation.gif/763px-Analog_clock_animation.gif" alt="">
               <br>
                    <h1 style="display: inline;" class="m-3 text-success">
                        ремонт!!!</h1>
                    <img style="width: 100px; height: 150px;" src="https://ubnt.ru/image/catalog/NSM5/s013t0156.gif " alt="">
               



            <!-- </div>
            <div class="col-md-6" id="kurs_register">
                <h6>buyurtmani bajarish </h6>
                <p class="text-muted">Ariza qoldirish uchun formani to’ldiring.
                    Biz siz bilan tez orada bog’lanamiz.</p>
                    <div class="form-group">
                        <input id="student_name" type="text" class="form-control" placeholder="Ismingiz">
                    </div>
                    <div class="form-group">
                        <input type="text" id="student_phone" class="form-control" placeholder="+998(__) ___-__-__">
                    </div>
                    <div class="form-group">
                        <button onclick="Registered_students('Web (Frontend)')" class="btn bg-blur text-white px-3 br-1">Kursga yozilish
                            </button>
                    </div>
            </div>
        </div>
    </div>
</div> -->


{% endblock content %}
</body>
</html>